{
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "printWidth": 80,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "tabWidth": 4
}