---
import { Icon } from 'astro-icon/components';
const { label, onClick, type, icon, width = 10 } = Astro.props;
---

<button class="action-button" onclick={onClick}>
    {icon && <Icon name={icon} size={25} width={width} />}{
        (<span>{label}</span>)
    }
</button>
<style lang="scss">
    .action-button {
        padding: 0.7rem 1rem;
        background-color: var(--foregroundColor);
        color: var(--backgroundColor);
        font-weight: light;
        font-family: 'Urbanist', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .action-button:hover {
        background-color: var(--accentColor);
    }

    .action-button:active {
        transform: translateY(0);
    }
</style>
